@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background-color: #181719;
    --text-color: #FFFFFF;
    --gray-color: #828282;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    padding: 0 100px;
}

/*============== NAV - BAR ==============*/
header {
    height: 70px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 400;
    line-height:15.56px;
    border: 2px solid var(--text-color);
    padding: 8px;
}

.hamburguer {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 5px;
    transition: .2s ease-in;
    margin: 0 30px;
    border-bottom: 2px solid transparent;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid var(--text-color);
}

.nav-bar ul li a.active {
    border-bottom: 2px solid var(--text-color);
    font-weight: 600;
}

@media only screen and (max-width: 1320px){
    header ,
    .container {
        padding: 0 50px;
    }
}   

@media only screen and (max-width: 1100px){
    header ,
    .container {
        padding: 0 30px;
    }
}   

@media only screen and (max-width: 900px){
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 3px;
    }

    .nav-bar {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        height: 0;
        width: 100vw;
        background: var(--background-color);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 100vh;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50% auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 32px;
    }
}   

/*============== Main Section ==============*/
.secciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 120px;

    /* display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    align-items: center;
    gap: 100px; */
}

.left-content  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.left-content-title {
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 48px;
}

.left-content-sub {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
}

.left-content-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
}

.right-content-img {
    position: relative;
    width: 700px;
    height: 500px;
    box-shadow: 15px 15px 18px -7px rgba(255,255,255,0.59);
}

.right-content-img img {
    width: 100%;
    height: 100%;
}

/* Estilos para la versión móvil */
@media screen and (max-width: 390px) {
    /* Agregar un margin de 12px a todos los elementos */
    body, header, .container, .secciones, .left, .right-content, .right-content-img {
        margin: 12px;
    }
  
    /* Alinear logo y hamburguesa en las esquinas */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0 12px;
    }

    .container {
        padding: 0;
        margin: 0;
    }
  
    .logo {
        margin: 0;
        padding: 8px;
    }
  
    .hamburger {
        margin: 0;
        padding: 8px;
    }
  
    /* Ajustar tamaño de fuente y padding de las opciones del menú */
    .nav-bar ul li a {
        font-size: 14px;
        padding: 3px 5px;
    }
  
    /* Cambiar a columnas en la versión móvil */
    .secciones {
    margin: 0;
        flex-direction: column; /* 1 columna */
    }

    .right-content-img {
        width: 351px;
        height: 264.32px;
        box-shadow: none;
    }

    .hamburger {
        padding: 0;
    }

    .overlay {
        position: static;
        bottom: -100px !important; /* Ajusta la distancia desde abajo */
        right: 32px; 
        width: 300px !important;
        height: 138px !important;
    }

    .overlay-content-text h4 {
        font-size: 12px !important;
    }
    
    .overlay-content-text p {
        font-size: 12.19px !important;
    }
    
    .overlay-body-sub {
        font-size: 18px !important;
    }
    
    .overlay-header-img {
        width: 36.59px !important;
        height: 36.59px !important;
    }
}
  
  

/*========== overlay ==========*/
.overlay {
    position: absolute;
    bottom: -120px; /* Ajusta la distancia desde abajo */
    right: 32px; 
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 410px;
    height: 189px;
    padding: 18px 31px 34px 31px;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 9px 9px 18px -7px rgba(255,255,255,0.55);
}

.overlay-header {
    display: flex;
    align-items: center;
    gap: 19px;
    justify-content: flex-start;
}

.overlay-content-text h4 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.overlay-content-text p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray-color);
}

.overlay-body-sub {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
}

.overlay-header-img {
    width: 50px;
    height: 50px;
}

.overlay-header-img img {
    border-radius: 50%;
}
