@import url('https://fonts.cdnfonts.com/css/space-mono?styles=18436,18433');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Mono', sans-serif;
}

:root {
    --bg-text-color: #333333;
    --bg-text-color-2: #4F4F4F;
    --bg-text-footer: #BDBDBD;
}

body {
    background-color: #ffff;
}

/* ======= NAVBAR ======= */
.nav-bar {
    width: 80vw;
    margin: 30px auto;
}

.nav-item {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
    color: var(--bg-text-color);
}

/* ======= MAIN ======= */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 100vh;
    margin: 64px auto 0;
}

.left-img img{
    width: 286.83px;
    height: 238px;
}

.right-content-title {
    margin-top: 60px;
    font-size: 48px;
    line-height: 71.09px;
    font-weight: 700;
    color: var(--bg-text-color);
}

.right-content-sub {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: var(--bg-text-color-2);
}

.right-content-btn {
    margin-top: 66px;
    width: 216px;
    height: 68px;
    background-color: var(--bg-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content-btn:hover {
    cursor: pointer;
    transition: .3s ease-in;
    background-color: #FF6D5B;
}

.right-content-cta {
    color: #ffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

/* ======= FOOTER ======= */

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title,
.footer-title-link {
    color: var(--bg-text-footer);
    padding-bottom: 20px;
}

.footer-title-link:hover{
    transition: .3s ease-in;
    color: #FF6D5B;
    cursor: pointer;
    border-bottom: 2px solid var(--bg-text-color);
}

/* ======= RESPONSIVE DESING ======= */
@media screen and (min-width: 1024px) {
    .nav-bar {
        width: 80vw;
        margin: 30px auto;
    }

    .container {
        flex-direction: row;
        gap: 118px;
        margin: 100px auto 0;
        height: 447.43px;
    }

    .left-img img{
        width: 539.22px;
        height: 447.43px;
    }

    .footer-contact {
        display: flex;
        justify-content: center;
        margin-top: 300px;
    }

}